{% set data = load_data(path=plot_file, required=true, format="json") %}
<div>
  <div id="{{ figname | slugify }}"></div>
    <blockquote>
      <b>{{ figname }}</b>: {{ body }} #{{ figname | slugify }}
    </blockquote>
</div>

  <script>
    (function(vegaEmbed) {
      var spec = {{ data | json_encode() | safe }};
      var embedOpt = {"mode": "vega-lite"};

      function showError(el, error){
          el.innerHTML = ('<div class="error" style="color:red;">'
                          + '<p>JavaScript Error: ' + error.message + '</p>'
                          + "<p>This usually means there's a typo in your chart specification. "
                          + "See the javascript console for the full traceback.</p>"
                          + '</div>');
          throw error;
      }
      const el = document.getElementById('vis');
      vegaEmbed("#{{ figname | slugify }}", spec, embedOpt)
        .catch(error => showError(el, error));
    })(vegaEmbed);
  </script>
